/* Reset CSS */
* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

/* Body CSS */
html, body { height: 100%; }

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  display: flex;
  justify-content: center; 
  align-items: flex-start;   

}
.outside-container {
  width: 930px;
  background: linear-gradient(to bottom right, #FFCBE0 , #F595BC );
  border-radius: 18px;
  padding: 22px;
}
.inside-container {
  background: #FFE6F0;
  border-radius: 12px;
  padding: 35px;
  position: relative;
}

/*CSS FOR BRAND, LOGO, NAVIGATION WEBPAGE*/
/* Header */ 
header { 
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  margin-bottom: 28px; 
} 
.brand { 
  display: flex; 
  align-items: center; 
  gap: 12px; 
  color: #d24b84; 
} 
.logo { 
  width: 50px; 
  height: 50px; 
} 
nav { 
  display: flex; 
  gap: 22px; 
  align-items: center; 
  font-size: 12px; 
} 
nav a { 
  text-decoration: none; 
  color: #333333; 
} 
.contact-button { 
  background: #d34791; 
  color: #fff; 
  padding: 10px 14px; 
  border-radius: 8px; 
  font-weight: bold; 
} 

.contact-button:hover { 
  background: #b53a7d; 
  box-shadow: 0 8px 12px rgba(0, 8, 12, 0.3); 
} 


/* Footer */
footer {
  margin-top: 18px;
  color: #6B4F3B;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socials {
  display: flex;
  gap: 12px;
}

.socials img {
  width: 20px;
  height: 20px;
}